---
title: WB Lift Opening Times
---
<h1>WB Lift Opening Times</h1>

<div class='buttons'>
  <button data-group='mountain' data-value='whistler'>Whistler</button>
  <button data-group='mountain' data-value='blackcomb'>Blackcomb</button>
  <button data-group='elevation' data-value='lower'>Base</button>
  <button data-group='elevation' data-value='mid'>Mid</button>
  <button data-group='elevation' data-value='alpine'>Alpine</button>
</div>

<table>
  <thead>
    <tr>
      <th>&nbsp;</th>
      <% previous_weeks_days.each do |day| %>
        <th><%= day %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% data.lifts.each do |(lift, meta)| %>
      <tr class='<%= meta.values_at(:mountain, :elevation).join(" ") %>'>
        <th><%= lift %></th>
        <% previous_weeks_dates.each do |date| %>
          <td><%= opening_time_for(lift, date) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<ul class='footer'>
  <li>Last updated on <%= last_updated_at %></li>
  <li><a href='mailto:tom@gladhill.ca'>feedback</a></li>
</ul>
